<!DOCTYPE html>
<html lang="en">    
<head>
    <title>
        Read our data.
    </title>
    <!--TEMPORARY ACCESS USING CDN of TAILWIND-->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <h3>Edit Listing Information</h3>
    
    <div>
            Edit Information here.
    </div>
   
   
</body>
</html>