<!DOCTYPE html>
<html lang="en">    
<head>
    <title>
        Read our data.
    </title>
    <!--TEMPORARY ACCESS USING CDN of TAILWIND-->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <h3>Edit Listing Information</h3>
    
    <div>
        Edit Information here.

        <form action="/update/<%=data.item%>" method="POST">
            <% for (var i = 0; i < data.listing.length; i++) { %>
            Name: <input type="text" name="name" value="<%=data.listing[i].name%>"></input>
            <br />
            <br />
            Property Type: <input type="text" name="property_type"><%=data.listing[i].property_type%></a>

            <% } %>
            <br />
            <input type="submit" value="Save Data">
            <br />
        </form>
    </div>
</body>
</html>